:host {
  height: 100%;
}

.filters,
.wrapper {
  margin-top: 20px;
}

.actions {
  font-size: 20px;

  .action {
    margin-left: 10px;
    width: 60%;
  }
}

.mat-accordion {
  width: 80%;
  margin-bottom: 20px;
}

@media all and (min-width: 600px) {
  .mat-accordion {
    width: 50%;
  }

  .actions .action {
    width: 40%;
  }
}